
:root {

  --h1:40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16 px;
  
  
  --label: 16px;
  --ls: 5px;
  
  --background-color: rgb(248, 247, 247);
  
  }
  
  .headerLogin{
    font-size: var(--h1);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    text-align: center;
    padding: 2px;
  }


  .signInForm{
    font-size: var(--h3);
  }


  /* ------------------------------------------------------------------------------- */
/* main section */
.mainSec{
 background-color: var(--background-color);
 display: flex;
 flex-direction: column;
 max-width: 100%;
 justify-content: center;
 margin:auto;
 margin-top:20px;
 border-radius:5px;
 width: 500px;
 padding: 50px;
 height:auto;
}

/* -------------------------------------------------------------------------------------- */


/* for hover on the box shadow */
.mainSec:hover{
  box-shadow: 10px 10px 20px rgba(219, 42, 42, 0.5);
}

/* logo */
.site-logo-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input[type=text], input[type=password]{
  margin-bottom: 20px;
  padding: 10px 2px;
  width: 100%;
 }


.buttonDesign{
  width: 100%;
  background-color: #0731a5;
  color: white;
  font-size: var(--h4);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.errorMsg{
  color: red;
  margin: 0px 50px 5px 0px;
}

.p{
  max-width: 100%;
}







.prodCards{
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap-reverse; */ 
  padding: 20px;
  margin: 8px;
  align-items: center;

}

